<!DOCTYPE html>
<html lang="en">
  <%- partial('_partial/head') %>

  <body>
    <div class="root">
      <%- partial('_partial/header') %>
      <div class="focus">
        <%- partial('_partial/aside') %>
        <main><%- body %></main>
        <%- partial('_partial/aside-r') %>
      </div>
      <%- partial('_partial/footer') %>
    </div>
  </body>
</html>
