<!DOCTYPE html>
<html lang="en">
<%- partial('_partial/head') %>

  <body>
    <div class="root">
      <%- partial('_partial/header') %>
        <div class="focus">
          <%- site.isBlank ? null : partial('_partial/aside') %>
            <main>
              <%- body %>
            </main>
          <%- site.isBlank ? null : partial('_partial/aside-r') %>
        </div>
        <%- partial('_partial/footer') %>
        <% site.isBlank=false; %>
    </div>
  </body>

</html>